body {
    background-color: grey;
}

#displayWrapper {
    text-align: center;
}


#display {
    padding-top: 14px;
    border-radius: 3px 3px 0 0;
    color: black;
    background-color: white;
    width: 800px;
    height: 32px;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 3px 5px 5px 3px rgb(85, 80, 80);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#canvasBox {
    position: relative;
    z-index: 100;
    text-align: center;
}

#canvas {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0 0 3px 3px;
    box-shadow: 3px 5px 5px 3px rgb(85, 80, 80);
    z-index: 105;
}

#gameOverWrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 79, 79, 0.8);
    z-index: 200;
}

#gameOverBox {
    text-align: center;
    z-index: 300;
    margin: auto;
    width: 100%;
    position: absolute;

}

#gameOver {
    box-shadow: 5px 5px 10px #5a5a5a;
    border-radius: 8px;
    padding-top: 25px;
    z-index: 400;
    text-align: center;
    width: 420px;
    height: 50px;
    background-color: rgba(50, 50, 49, 0.8);
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    line-height: 20px;
}

#gameOverButton {
    font-family: 'Press Start 2P', cursive;
    border: solid 1px grey;
    cursor: pointer;
    background-color: #676767;
    color: #e6e6e6;
    margin-bottom: 5px;
}

#winWrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 79, 79, 0.8);
    z-index: 200;
}

#winBox {
    text-align: center;
    z-index: 300;
    margin: auto;
    width: 100%;
    position: absolute;

}

#win {
    box-shadow: 5px 5px 10px #5a5a5a;
    border-radius: 8px;
    padding-top: 25px;
    z-index: 400;
    text-align: center;
    width: 420px;
    height: 50px;
    background-color: rgba(50, 50, 49, 0.8);
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    line-height: 20px;
}

#winButton {
    font-family: 'Press Start 2P', cursive;
    border: solid 1px grey;
    cursor: pointer;
    background-color: #676767;
    color: #e6e6e6;
    margin-bottom: 5px;
}

#cheatWrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 79, 79, 0.8);
    z-index: 200;
}

#cheatBox {
    text-align: center;
    z-index: 300;
    margin: auto;
    width: 100%;
    position: absolute;

}

#cheat {
    box-shadow: 5px 5px 10px #5a5a5a;
    border-radius: 8px;
    padding-top: 25px;
    z-index: 400;
    text-align: center;
    width: 420px;
    height: 50px;
    background-color: rgba(50, 50, 49, 0.8);
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    line-height: 20px;
}

#cheatButton {
    font-family: 'Press Start 2P', cursive;
    border: solid 1px grey;
    cursor: pointer;
    background-color: #676767;
    color: #e6e6e6;
    margin-bottom: 5px;
}








#leaderBoardBox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 16743;
    width: 100%;
}
